

/* Stylesheets for headers, used in my webpage. */


h1
{
    font-family: "Courier New", serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
}


h3
{
    margin-left: 120px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Courier New", serif;
    text-decoration: underline;
    position: relative;
}


.right-column h3
{
    margin-left: 0;
}


h4
{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: "Courier New", serif;
}